*.o
*.PBP
*.prx
*.elf
*.SFO
*.tar.bz2
Joyau/eboot/PIC2.PNG
Joyau/doc/
Joyau/Joyau-release/
Joyau/ruby/1.8/
Joyau/html/
Joyau/pkg/
Joyau/spec/.gem/
Joyau/spec/ruby/
Joyau/tests/ruby/
/Joyau/joyau-error.log
Joyau/script.rb
*.log
